* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  line-height: 1.6;
  background-color: #edf1f3;
}

header {
  background-color: #222;
  color: #fff;
  padding: 1rem 0;
}

.navbar {
  display: flex;
  justify-content: 
  space-between;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  padding: 0 1rem;
}

.logo {
  font-size: 1.8rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.2rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.section {
  padding: 4rem 1rem;
  max-width: 1000px;
  margin: auto;
}

.home {
  text-align: center;
  background-color: #c5dfe2;
}

.about, .projects, .contact {
  background-color: #fff;
  margin: 2rem auto;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
}

.project-card {
  background-color: #fefefe;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.languages ul,
.education ul {
  list-style: disc;
  margin-left: 1.5rem;
  padding-top: 0.5rem;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.skill-box {
  background-color: #e0f7fa;
  padding: 0.8rem 1.2rem;
  border-radius: 4px;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
footer {
  text-align: center;
  padding: 1rem;
  background-color: #222;
  color: white;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
  }
}
